<%= button_to "new", new_url_path, method: :get %><p></p>
<strong>List Of URLs</strong>&nbsp;
<%= link_to "by popularity",
  { controller: :urls, action: :index, sort: :popularity } %>&nbsp;
<%= link_to "by age", urls_path %>
<p></p>
<div>
  <table>
    <% @urls.each do |url| %>
    <tr>
      <td>
        <%= link_to url.long, url_path(url) %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
