<%= button_to "new", new_url_path, method: :get %><p></p>
<strong>List Of URLs</strong>&nbsp;
<%= link_to "by popularity",
  { controller: :urls, action: :index, sort: :popularity } %>&nbsp;
<%= link_to "by age", urls_path %>
<p></p>
<form>
  <input id= "filter" type="text" name="filter" placeholder="filter">
</form>
<div>
  <table>
    <% @urls.each do |url| %>
    <tr>
      <td>
        <%= link_to url.long, url_path(url) %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
<script type="text/javascript">
  $.expr[":"].containsNoCase = function(el, i, m) {
      var search = m[3];
      if (!search) return false;
      return new RegExp(search, "i").test($(el).text());
  };

  $("#filter").keyup(function() {
      var search = $(this).val();
      $("tr").show();
      if (search) $("tr").not(":containsNoCase(" + search + ")").hide();
  });
</script>
